body{
    background-color: rgb(255, 247, 247);
}

#btn{
position: absolute;
right: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;   
}


#btnOrange{
    position: absolute;
    margin-top: 20%;
    right: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#btnVert{
    position: absolute;
    margin-top: 40%;
    right: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
}




#divForm{
    overflow: hidden;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    border: solid 2px;
}


#textKey{
    position: absolute;
    bottom: 500px;
}

#btnImg{
    position: absolute;
    bottom: 500px;
    margin-left: 150px;
}

p{
    position: absolute;
    bottom: 510px;   
}